img{
    width: 100%;
    margin-top: 30px;
}
.adi{
    margin-top: 30px;
}
h5{
    text-align: end;
    font-size: 9px;
    margin-top: 20px;
}
h4{
    text-align: end;
    font-size: 9px;
    color: red;
}
p{
    text-align: justify;
    margin-top: 15px;
    background-color: gray;
    color: #fff;

}