.box-1{
    display: flex;
    gap: 20px;
}
.img-1{
    width: 100%;
}


.img{
    width: 100%;
}
body{
    background-color:aquamarine ;
}
p{
    color: white;
    text-align: center;
}
h5{
    text-align: end;
    font-size: 9px;
    margin-top: 20px;
color: blue;
}
h4{
    text-align: end;
    font-size: 9px;
    color: burlywood;
}
h1{
    text-align: center;
    color: white;
}